.carousel-item img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.carousel img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}
