/* Estilos para las filas de imágenes de anime */
.anime-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.anime-item {
    text-align: center;
    margin: 10px;
    flex: 1;
    max-width: 150px;
}

.anime-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.anime-item h3 {
    font-size: 14px;
    color: white;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .anime-item {
        max-width: 100px;
    }

    .anime-item h3 {
        font-size: 12px;
    }
}
