/* CSS general */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative; /* Cambiado a relative */
    clear: both; /* Añadido para limpiar el contenido flotante */
}

#catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.anime {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.anime img {
    max-width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.anime h3 {
    margin: 10px 0;
}

.anime p {
    padding: 0 10px 10px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background-color: #0056b3;
}

.detalle-pelicula {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalle-pelicula img {
    max-width: 100%;
    border-radius: 8px;
}

.detalle-pelicula .descripcion {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px; /* Añadido para separación del contenido superior */
}

.detalle-pelicula ul {
    list-style: none;
    padding: 0;
}

.detalle-pelicula ul li {
    margin: 5px 0;
}

.search-bar {
    margin: 20px 0;
    text-align: center;
}

.search-bar input[type="text"] {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #0056b3;
}

