.anime-row {
    margin: 20px 0;
    padding: 0 20px;
}

.anime-row h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.anime-container {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    padding-bottom: 10px;
}

.anime-item {
    flex: 0 0 auto; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
    margin: 10px;
}

.anime-item img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.anime-item h3 {
    font-size: 18px;
    margin: 10px;
    text-align: center;
    color: #333;
}

.anime-item:hover {
    transform: scale(1.05);
}

.anime-container::-webkit-scrollbar {
    display: none; /* Ocultar la barra de desplazamiento en navegadores webkit */
}

.anime-container {
    -ms-overflow-style: none;  /* Ocultar la barra de desplazamiento en IE y Edge */
    scrollbar-width: none;  /* Ocultar la barra de desplazamiento en Firefox */
}
