.carousel-container {
    position: relative;
    max-width: 100%;
    height: 60vh; /* Ajusta la altura según sea necesario */
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 60s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 60vh; /* Ajusta la altura según sea necesario */
    background-size: cover;
    background-position: center;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.carousel-indicators button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
}

.carousel-indicators button.active {
    background: white;
}

