/* Estilos generales */
body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #121212; /* Fondo oscuro */
    color: #e0e0e0; /* Texto claro */
}

body.dark-mode a {
    color: #bb86fc; /* Color de enlaces en modo oscuro */
}

/* Efecto de luz nocturna */
body.night-light {
    filter: sepia(100%) hue-rotate(-20deg); /* Ajuste de color cálido */
    transition: filter 0.3s ease;
}

/* Modo oscuro con luz nocturna */
body.dark-mode.night-light {
    filter: sepia(100%) hue-rotate(-20deg); /* Ajuste de color cálido en modo oscuro */
}
