.fila {
    margin: 20px 0;
}

.fila h2 {
    margin: 10px;
}

.fila-contenedor {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.fila-items {
    display: flex;
    transition: transform 0.5s ease;
}

.anime-item {
    flex: 0 0 auto;
    width: 200px;
    margin: 10px;
    text-align: center;
}

.anime-item img {
    width: 100%;
    border-radius: 10px;
}

.flecha-izquierda, .flecha-derecha {
    background: transparent;
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding: 0 10px;
}
