/* logo-styles.css */

.top-bar .logo {
    display: inline-block;
    background-image: url('images-logos/animesama-logo-trasnparentepng'); /* Ajusta la ruta si es necesario */
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px; /* Ajusta el tamaño según tu preferencia */
    height: 50px; /* Ajusta el tamaño según tu preferencia */
    margin: 10px 20px; /* Ajusta el margen según tu preferencia */
    text-indent: -9999px; /* Oculta el texto */
}
