/* styles/buscador-styles.css */
.advanced-search {
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
    display: none; /* Ocultar inicialmente */
}

.advanced-search h2 {
    color: #00d8ff;
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #00d8ff;
}

.advanced-search input,
.advanced-search select,
.advanced-search button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

.advanced-search input {
    background-color: #2c2c2c;
    color: #fff;
}

.advanced-search select {
    background-color: #2c2c2c;
    color: #00d8ff;
}

.advanced-search button {
    background-color: #00d8ff;
    color: #1b1b1b;
    cursor: pointer;
    transition: background-color 0.3s;
}

.advanced-search button:hover {
    background-color: #009ec3;
}

/* Resultados de búsqueda */
#searchResults {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #1b1b1b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-result-item {
    background-color: #2c2c2c;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: #00d8ff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-result-item:hover {
    background-color: #3d3d3d;
}

/* styles/lupa-icon-styles.css */
.search-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search-icon {
    width: 32px;  /* Ajusta el tamaño del icono aquí */
    height: 32px; /* Ajusta el tamaño del icono aquí */
}
