body {
    font-family: 'Arial', sans-serif;
    background: url('../images/solo-leveling-background.png') no-repeat center center fixed;
    background-size: cover;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(26, 26, 26, 0.8);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #00ffcc;
}

nav {
    margin-left: auto;
    display: flex;
    align-items: center;
}

nav a, .explorar {
    color: #00ffcc;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

nav a:hover, .explorar:hover {
    color: #00cccc;
}

.main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

video {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.descripcion {
    background-color: rgba(26, 26, 26, 0.8);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.descripcion h2 {
    margin-top: 0;
    color: #00ffcc;
}

.descripcion ul {
    padding-left: 20px;
}

.boton {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00ffcc;
    color: #0d0d0d;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background-color: #00cccc;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(26, 26, 26, 0.8);
    color: #f0f0f0;
    margin-top: 20px;
}

.explorar-menu {
    position: relative;
    display: inline-block;
}

.explorar-content {
    display: none;
    position: absolute;
    background-color: #0d0d0d;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.explorar-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.explorar-content a:hover {
    background-color: #575757;
}

.explorar-menu:hover .explorar-content {
    display: block;
}
